# Capstone Project:
# National Cuisine in Capitals of UE Countries - Comparisson

Author:Bartosz Oblicki

## Introduction
The goal of my Project is to make a analysis about existance of foreign national cuisine in the Capitals of EU Countries. I will try to show  which national cuisine is the most popular in EU. The results can be used as an advice for Stakholders that would like to open a new restaurant in one of the capitals.

The first part shows how popular are cuisins of other countries in restaurants located in all 27 capitals. The basis for the analysis is the quantity of foreign restaurants in city centers. 

Second part tryies to answer the question if it is a correlation beetwen population of foreigners or tourism with the total amount of restaurants.

## Datasets

To start the analysis ther will be  needed to prepare a dataset of countries in EU with basic information about capitals. Capitals of all countries is taken from [Population Growth Rates in Urban areas and Capital cities table](https://data.un.org/_Docs/SYB/CSV/SYB61_253_Population%20Growth%20Rates%20in%20Urban%20areas%20and%20Capital%20cities.csv) taken from [Undata](https://data.un.org/) Unated Nations Statistic Division. The result is reduced to countries that are members of EU.  

The main source of information about restaurants and their popularity is [Forsquare api](https://developer.foursquare.com/docs/api). In the first aproach there will be prepared an iterration trough all capitals too recive the quantity  and score of restaurants with foreign cuisine for each capital (28x27=756 Requests).The results will be stored in two  data frames, one with quantities and one with average score per city.

For the second Part will require more generall informations about the nationalities . This will be taken form [Eurostat](https://ec.europa.eu/eurostat) - European Comission Statistic Office 


Some support tables are also needed:  

* Members of EU [Eurostat](https://europa.eu/european-union/about-eu/countries_en#tab-0-1)
* Adjectives of Nationalities [www.vocabulary.cl] (https://www.vocabulary.cl/Basic/Nationalities.htm)
* ISO Country codes [European Environment Agency](https://www.eea.europa.eu/data-and-maps/data/waterbase-lakes-4/country-codes-and-abbreviations-32-records/country-codes-and-abbreviations-32-records/at_download/file)
* geoJSON data [Eurostat](https://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/administrative-units-statistical-units/countries)

## Metodology
The first idea was to use also the scores of restaurants, unfortunately, the score request is classified as a premium request, with this amount of iteration it would not be possible to collect results for each of the restaurants. Therefore I have to limit the analysis to the number of restaurants by category.

To determine the most popular cuisine, the sum of the number of restaurants serving a given cuisine in all countries will be used. 

In the second part K Means Clustering will be used to combine the most popular cuisins in clusters.
Furthermore the results will be analysed with use of ANOVA methodology in order to investigate the correlation between the population, tourist traffic and the number of restaurants in a given Capital.

## Results

In the foresquare database only 13 national cuisines are listed as a separate category, therefore the analysis of sotana is limited to these 13 cuisines. The Categories are as follows:

![categories.png](categories.png)

The result table that represents the amount of restaurants categorised in the database in capitals of all EU countries:

In [11]:
import pandas as pd
EU_Cap=pd.read_csv(r'EU_cap.csv')
EU_Cap.drop(['Unnamed: 0'],1,inplace=True)
EU_Cap.iloc[:,[0,1,6,7,8,9,10,11,12,13,14,15,16,17]]

,Country,Capital City,Belgian,Czech,French,German,Greek,Hungarian,Italian,Dutch,Polish,Portuguese,Slovak,Spanish
0,Austria,Vienna,5,15,57,65,63,10,195,1,4,4,1,29
1,Belgium,Brussels,0,1,269,5,130,4,232,40,6,32,1,89
2,Bulgaria,Sofia,8,12,58,17,48,1,112,2,0,0,0,19
3,Croatia,Zagreb,3,1,17,4,4,1,40,0,0,0,0,7
4,Cyprus,Nicosia,4,0,15,5,114,1,52,0,1,1,0,5
5,Czechia,Prague,21,0,131,24,34,5,176,2,4,1,0,32
6,Denmark,Copenhagen,17,6,125,7,16,2,134,0,5,1,0,35
7,Estonia,Tallinn,7,1,26,12,8,0,52,2,1,2,0,5
8,Finland,Helsinki,13,2,39,14,15,3,114,0,0,1,0,23
9,France,Paris,42,2,0,29,83,4,268,8,4,45,0,156
10,Germany,Berlin,23,12,153,0,157,9,258,11,11,20,0,101
11,Greece,Athens,8,3,91,12,0,0,193,1,4,1,0,21
12,Hungary,Budapest,35,36,115,21,54,0,120,2,4,4,0,30
13,Ireland,Dublin,8,9,83,9,20,2,144,2,5,11,0,32
14,Italy,Rome,12,1,44,17,18,1,0,4,4,2,0,81
15,Latvia,Riga,9,4,43,13,5,4,60,0,1,3,0,13
16,Lithuania,Vilnius,11,3,29,4,5,0,51,0,4,3,0,5
17,Luxembourg,Luxembourg,2,0,27,6,0,0,26,1,0,4,0,2
18,Malta,Valletta,6,1,12,4,5,3,77,2,3,1,0,10
19,Netherlands,Amsterdam,59,3,249,20,51,4,252,0,4,15,0,88
20,Poland,Warsaw,8,9,58,6,13,8,174,0,0,4,1,24
21,Portugal,Lisbon,3,1,54,6,11,1,133,2,0,0,0,118
22,Romania,Bucharest,15,4,75,20,49,4,157,1,0,4,0,11
23,Slovakia,Bratislava,8,21,29,4,10,9,82,0,0,1,0,13
24,Slovenia,Ljubljana,5,3,12,3,6,0,39,0,0,0,0,5
25,Spain,Madrid,8,2,73,24,19,1,132,1,1,20,0,0
26,Sweden,Stockholm,12,9,95,14,48,2,168,2,6,2,0,53

Results in form of a heat map:
![result.png](result.png)

With a score of 3441 Italian cuisine has the largest number of restaurants in the capitals of the European Union countries. Other popular cuisins are French(1979),Spanish(1007) and Greek(986).

Performing K Means Clustering with n=7 Clusters distinguishes also German and Belgian cuisine as a single cuisin cluster, all other cuisins are combined in the last 7th 

Reult of Clustering on a map:
![map.png](map.png)

## Corelation between population of imigrants, touristic traffic and the amount of foreign cuisin retaurants in capitals of EU countries

To proof if ther is a corelation between this variables ANOVA Analysis was performed.
The population data represents population of immigrants from EU other countries in each capital.
The touristic traffic is measured as number of nights booked in one year.

The input data table:

In [13]:
EU_Cap_ML=pd.read_csv(r'EU_Cap_ML')
EU_Cap_ML.drop(['Unnamed: 0'],1,inplace=True)
EU_Cap_ML

,Country,Capital City,Nationality,Latitude,Longitude,Population,Tourism,Total
0,Austria,Vienna,Austrian,48.208354,16.372504,180934,13440328,449
1,Belgium,Brussels,Belgian,50.843671,4.367437,274859,6993061,812
2,Bulgaria,Sofia,Bulgarian,42.697863,23.322179,3305,1925881,280
3,Croatia,Zagreb,Croatian,45.813177,15.977048,1279,2511817,80
4,Cyprus,Nicosia,Cypriot,35.173930,33.364726,26799,189354,199
5,Denmark,Copenhagen,Danish,55.686724,12.570072,30881,5622180,352
6,Estonia,Tallinn,Estonian,59.437216,24.745369,10264,3149626,117
7,Finland,Helsinki,Finnish,60.167410,24.942577,23672,4167982,225
8,France,Paris,French,48.856697,2.351462,397793,67346921,641
9,Germany,Berlin,German,52.517036,13.388860,217300,31150090,792
10,Hungary,Budapest,Hungarian,47.481390,19.146073,27912,10347717,425
11,Ireland,Dublin,Irish,53.349764,-6.260273,50853,6586000,325
12,Italy,Rome,Italian,41.893320,12.482932,128109,28992098,185
13,Latvia,Riga,Latvian,56.949398,24.105185,3364,3281884,165
14,Lithuania,Vilnius,Lithuanian,54.687046,25.282911,1136,2212109,115
15,Poland,Warsaw,Polish,52.233717,21.071411,2585,4849126,309
16,Portugal,Lisbon,Portuguese,38.707751,-9.136592,23010,13184470,333
17,Romania,Bucharest,Romanian,44.436141,26.102720,1579,3398817,343
18,Slovenia,Ljubljana,Slovenian,46.049980,14.506860,3544,1548487,73
19,Spain,Madrid,Spanish,40.416705,-3.703582,131487,21144254,282
20,Sweden,Stockholm,Swedish,59.325117,18.071093,46198,9566524,414

ANOVA results: F= 11.550984042206192 , P = 5.704245855140191e-05  
High F value and very small p value confirms strong and higly significant correlation

Correlation table
![corr.png](corr.png)

As we can see population as a higer influence on the amoutn of retaurants then the tourism traffic. This may be due to the fact that the tourists' viisites are mostly one-orayers, while among the citizens there are many regular customers who return

Population to Total and Tourism to Total on graphs:

![pop.png](pop.png) ![tour.png](tour.png)

## Discussion

this short report can be seen as an introduction to a deeper analysis which would require the collection of more detailed data to identify a set of determinants which could then serve as a basis for, for example, investment decisions for future investors
The Eurostat database provides lots of informations abaout nations , but to go deeper there is a need to consult data from the national statistical offices in each country.

## Conclusion

Teh analisis shows the most popular cuisins in European Union Capitals. The results of statistical analysis in detail, could also be successfully used to predict customer preferences in other cities in the countries concerned, where not all indicators are available. 

For  me personally the most important thing that I discovered during the preparation of this analyse is the huge amount of publicly available data. Databases of national institutions are full of various combinations which can be used in a similar manner as during this analyse

Thank You for reading and review and good luck in future data science adventures!